* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
}

img {
  position: relative;
  max-width: 412px;
  top: 80px;
}

.watch {
  width: 215px;
  height: 270px;
  position: absolute;
  top: 250px;
  left: 100px;
  display: grid;
  place-content: center;
  grid-template-rows: 3rem 5rem 3rem 5rem;
}

#link-btns {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  justify-content: center;
  width: 8rem;
  place-self: center;
  overflow: hidden;
}

.opt-btn {
  text-decoration: none;
  background-color: transparent;
  color: #000;
  width: 0.8rem;
  height: 5rem;
  font-weight: bold;
  text-align: center;
}

.links {
  width: 100%;
  padding: 0.2rem;
  display: grid;
  justify-content: center;
}

.links a {
  display: block;
  height: auto;
  width: 3rem;
}

.active {
  background-color: #e7760c;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

#watch_counter {
  font-size: 3rem;
  color: white;
  text-align: center;
  place-self: center;
  field-sizing: content;
  background-color: transparent;
  border: none;
  border-bottom: solid #fff 1px;
  outline: none;
}

#time-btns_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.time_btns {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  background-color: #e7760c;
  border-radius: 10px;
  display: grid;
  place-content: center;
  height: 2rem;
  width: 2.5rem;
  cursor: pointer;
}

.time_btns:active {
  background-color: #c4640a;
}

#watch_btns {
  margin-bottom: 2rem;
  display: grid;
  width: 100%;
  gap: 1rem;
  place-content: center;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-size: 4rem;
  width: 100%;
  color: #e7760c;
  cursor: pointer;
}

.btn:active {
  color: #c4640a;
}

.blink {
  animation: blinker 0.5s linear 2;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
